body {
    font-family: 'Georgia', serif;
    background-color: #f0f0f0; /* Dark gray background */
    color: #333; /* White text color */
    margin: 0;
    padding: 0;
    background-size: cover; /* Ensure the background image covers the entire body */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.header {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #f4f2f2; 
    transition: text-shadow 0.3s ease;
    line-height: 1.2; /* Increased line height for better spacing */
}

h1:hover {
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

#new-quote-btn {
    background-color: transparent; /* Transparent button background */
    color: #fff; /* White button text color */
    border: 1px solid #fff; /* White border */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    margin-top: 20px; /* Added margin-top for spacing */
}

#new-quote-btn:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white on hover */
}


.quote-container {
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.1); /* Slight reddish tint with transparency */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 150px; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Modified width to cover the entire container */
    margin: 30px auto;
}


.quote-text {
    font-size: 2rem;
    font-style: italic;
    color: #6e6868; /* Darker quote text color */
    margin-bottom: 10px;
    transition: text-shadow 0.3s ease; /* Add transition for smooth effect */
}

.quote-text:hover {
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8); /* Add a slight shadow upon hover */
}


.quote-author {
    font-size: 1.5rem; /* Adjusted author text size */
    font-style:italic;
    color: #6e6868;
    margin-bottom: auto;
    transition: text-shadow 0.3s ease;
}

.quote-author:hover {
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

.footer {
    margin-top: 50px;
    color: #777; /* Light gray footer text color */
    transition: text-shadow 0.3s ease;
}

.footer:hover {
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}
